<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ShopCartConnectionString" connectionString="Data Source=STLAP64;Initial Catalog=ShopCart;Persist Security Info=True;User ID=sa;Password=student"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
        <compilation debug="true" strict="true" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
